<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agues.beeralbum" >
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/beer_without_brand"
        android:name=".Utils.BeerAlbum"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivitySelectCollectionByFilter"
            android:label="@string/title_activity_select_collection_by_filter" >
        </activity>
        <activity
            android:name=".Activities.ActivityCountry"
            android:label="@string/title_activity_activity_country" >
        </activity>
        <activity
            android:name=".Activities.ActivitySelectItemChoose"
            android:label="@string/title_activity_activity_select_item_choose" >
        </activity>
    </application>

</manifest>
